<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wonderland">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Basalasa"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity
            android:name="com.example.wonderland.activity.RequestList"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.wonderland.activity.SellerBookDetails"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.wonderland.activity.SellerBookManagementUpdate"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />
        <activity
            android:name="com.example.wonderland.activity.AccountList"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.wonderland.activity.SellerOrderList"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.wonderland.activity.SellerBookManagement"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.wonderland.activity.CustomerOrder"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.wonderland.activity.SearchResults"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.wonderland.activity.ReviewBooks"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.wonderland.activity.SettingChangePassword"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />
        <activity
            android:name="com.example.wonderland.activity.SettingChangeInformation"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="com.example.wonderland.activity.MainActivity" />
        <activity
            android:name="com.example.wonderland.activity.BookDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.wonderland.activity.Login"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.wonderland.activity.Checkout"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.wonderland.activity.Cart"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".activity.ForgetPassword"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.wonderland.activity.Register"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.wonderland.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>